.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers{
    position: relative;
    color: rgb(13, 73, 141);
    font-weight: 400;
    font-size: 3em;
}

.cardBox .card .cardName{
    color: var(--black1);
    margin-top: 5px;
    font-size: 1em;

}

.cardBox .card .iconBox{
    font-size: 2em;
    color: var(--black2);
    float: right;
    
}